* {
    padding: 0em;
    margin: 0em;
}

:root {
    --txtcolor: #484340;
    --bgcolor: #FFF8E7;
    --bgbread: #F2ECDB;
    --onhovercolor: #F2ECDB;
    --bgsection: #FAE9E8;
    --btnhovercolor: #C8D5B9;
    --btncolor: #C8D5B9;
    --bgheader: #F2ECDB;
}

html, body {
    font-size: 100%;
    font-family: "Inter", sans-serif;
    line-height: 1.5em;
}

html {
    background-image: url("Resources/Vectors/Paws.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: var(--bgcolor);
}

body {
    max-width: 1200px;
    margin: auto;
    padding: 1em;
    color: var(--txtcolor);
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: sticky;
    top: 1em;
    border-radius: 0.5em;
    padding: 0.75em 0.5em 0.75em 0.5em; /* top, right, bottom, left */
    box-shadow: none;
    background-color: var(--bgcolor);
    transition: box-shadow 0.5s ease;
}

header.scrolled {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header h1 {
    background-image: url("Resources/Vectors/Logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -9999em;
    font-size: 2.75em;
    line-height: 1.5em;
    width: 2.75em;
    justify-self: start;
}

#menu {
    font-size: 1.3em;
    margin: auto;
    justify-self: center;
}

#menu a {
    color: var(--txtcolor);
    text-decoration: none;
    margin-left: 1.5em;
}

#menu a:hover {
    text-decoration: underline;
}

#menu ul {
    list-style-type: none;
    display: flex;
}

#active-link {
    font-weight: bold;
}

#header-btns {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-self: end;
}

#btn-access {
    background-image: url("Resources/Vectors/Access.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em;
    border: none;
    width: 3em;
    height: 3em;
    border-radius: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn-access:hover {
    background-color: var(--onhovercolor);
}

#btn-login {
    content: url("Resources/Vectors/Login.svg");
    width: 2.25em;
    padding: 0.5em;
    border-radius: 2em;
    transition: background-color 0.3s ease;
}

#btn-login:hover {
    background-color: var(--onhovercolor);
}

#breadcrumb {
    background-color: var(--bgbread);
    text-align: center;
    width: fit-content;
    font-size: 1.1em;
    border-radius: 0.5em;
    margin: 1em auto;
    padding: 0.5em 0.75em 0.5em 0.75em; /* top, right, bottom, left */
}

#breadcrumb a {
    color: var(--txtcolor);
    text-decoration: underline;
}

#where {
    font-weight: bold;
}

main {
    margin: auto;
}

#section-title {
    margin: auto;
    padding: 7.5em;
    text-align: center;
}

#section-title h1 {
    font-size: 3em;
}

#section-title p {
    margin: 1em;
    font-size: 1.6em;
}

#section-title ul {
    margin: 2em auto;
    width: fit-content;
    display: flex;
    gap: 1em;
    list-style-type: none;
}

#section-title a {
    color: var(--txtcolor);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--btncolor);
    transition: background-color 0.3s ease;
    font-size: 1.1em;
    border-radius: 0.5em;
    padding: 0.5em 1em 0.5em 1em; /* top, right, bottom, left */
}

#section-title a:hover {
    background-color: var(--btnhovercolor);
}

#section-chi-siamo {
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: var(--bgsection);
}

#descrizione {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.5em;
}

#section-chi-siamo h2 {
    margin-bottom: 1em;
    font-size: 2.25em;
    text-align: center;
}

#img-volontari {
    content: url("Resources/Images/ImgChiSiamo.jpg");
    width: 25em;
    justify-self: end;
    border-radius: 40% 52% 48% 14% / 41% 31% 61% 27%;
}

#section-dati {
    margin: auto;
    padding: 7.5em;
    text-align: center;
}

#section-dati h2 {
    font-size: 2.25em;
    text-align: center;
}