* {
    padding: 0em;
    margin: 0em;
}

:root {
    --txtcolor: #484340;
    --bgcolor: #FFF8E7;
    --bgbread: #F2ECDB;
    --onhovercolor: #F2ECDB;
    --bgsection: #FAE9E8;
    --btnhovercolor: #B4C0A7;
    --btncolor: #C8D5B9;
    --bgheader: #F2ECDB;
}

html, body {
    font-size: 100%;
    font-family: "Inter", sans-serif;
    line-height: 1.5em;
}

html {
    background-image: url("../Resources/Vectors/Paws.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-color: var(--bgcolor);
}

body {
    max-width: 1200px;
    margin: auto;
    padding: 1em;
    color: var(--txtcolor);
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    position: sticky;
    top: 1em;
    border-radius: 0.5em;
    padding: 0.75em 0.5em 0.75em 0.5em; /* top, right, bottom, left */
    box-shadow: none;
    background-color: var(--bgcolor);
    transition: box-shadow 0.3s ease;
}

header.scrolled {
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header h1 {
    background-image: url("../Resources/Vectors/Logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-indent: -9999em;
    font-size: 2.75em;
    line-height: 1.5em;
    width: 2.75em;
    justify-self: start;
}

#menu {
    font-size: 1.3em;
    margin: auto;
    justify-self: center;
}

#menu a {
    color: var(--txtcolor);
    text-decoration: none;
    margin-left: 1.5em;
}

#menu a:hover {
    text-decoration: underline;
}

#menu ul {
    list-style-type: none;
    display: flex;
}

#active-link {
    font-weight: bold;
}

#header-btns {
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-self: end;
}

#hamburger {
    background: none;
    border: none;
    cursor: pointer;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    justify-self: end;
    display: none;
}

#hamburger .linea {
    display: block;
    width: 1.5em;
    height: 0.2em;
    background-color: var(--txtcolor);
    transition: all 0.3s ease;
}

#btn-access {
    background-image: url("../Resources/Vectors/Access.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em;
    border: none;
    width: 3em;
    height: 3em;
    border-radius: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn-access:hover {
    background-color: var(--onhovercolor);
}

#btn-login {
    content: url("../Resources/Vectors/Login.svg");
    width: 2.25em;
    padding: 0.5em;
    border-radius: 1em;
    transition: background-color 0.3s ease;
}

#btn-login:hover {
    background-color: var(--onhovercolor);
}

#breadcrumb {
    background-color: var(--bgbread);
    text-align: center;
    width: fit-content;
    font-size: 1.1em;
    border-radius: 0.5em;
    margin: 1em auto;
    padding: 0.5em 0.75em 0.5em 0.75em; /* top, right, bottom, left */
}

#breadcrumb a {
    color: var(--txtcolor);
    text-decoration: underline;
}

#where {
    font-weight: bold;
}

main {
    margin: auto;
}

#section-title {
    margin: 7.5em auto;
    text-align: center;
}

#section-title h1 {
    font-size: 3em;
    line-height: 1.25em;
}

#section-title p {
    margin: 1em;
    font-size: 1.6em;
    line-height: 1em;
}

#section-title menu {
    margin: 2em auto;
    width: fit-content;
    display: flex;
    gap: 1em;
    list-style-type: none;
}

#section-title a {
    color: var(--txtcolor);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--btncolor);
    transition: background-color 0.3s ease;
    font-size: 1.1em;
    border-radius: 0.5em;
    padding: 0.5em 1em 0.5em 1em; /* top, right, bottom, left */
}

#section-title a:hover {
    background-color: var(--btnhovercolor);
}

#section-chi-siamo {
    padding: 2em;
    border-radius: 0.5em;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: var(--bgsection);
}

#section-chi-siamo>div {
    display: flex;
    align-items: center;
    gap: 1em;
}

#section-chi-siamo h2 {
    margin-bottom: 1em;
    font-size: 2.25em;
    text-align: center;
}

#section-title p {
    line-height: 1.25em;
}

#img-volontari {
    content: url("../Resources/Images/ImgChiSiamo.jpg");
    width: 25em;
    border-radius: 40% 52% 48% 14% / 41% 31% 61% 27%;
}

#btn-back-to-top {
    background-image: url("../Resources/Vectors/UpArrow.svg");
    background-size: 2em;
    background-repeat: no-repeat;
    background-position: center;
    width: 2.75em;
    height: 2.75em;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 2;
    background-color: var(--btncolor);
    color: var(--txtcolor);
    border: none;
    cursor: pointer;
    border-radius: 1em;
    font-size: 1em;
    font-weight: bold;
    font-family: "Inter", serif;
    transition: background-color 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

#btn-back-to-top.visible {
    opacity: 1;
    visibility: visible;
}

#btn-back-to-top:hover {
    background-color: var(--btnhovercolor);
}

footer {
    top: 1em;
    border-radius: 0.5em;
    margin-top: 3em;
    padding: 0.75em 0.5em 0.75em 0.5em; /* top, right, bottom, left */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    background-color: var(--bgcolor);
}

footer h2 {
    text-align: center;
}

footer form {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: 1em;
}

.form-group {
    display: flex;
}

.form-group label {
    font-weight: bold;
}

footer form input, button {
    font-family: inherit;
}

footer form input {
    border: 1px solid var(--txtcolor);
    padding: 0.25em;
    border-radius: 0.25em;
    transition: all 0.3s ease;
    background-color: var(--bgcolor);
}

footer form input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--btnhovercolor);
}

#btn-volontario-submit {
    color: var(--txtcolor);
    text-decoration: none;
    border: none;
    font-weight: bold;
    background-color: var(--btncolor);
    transition: background-color 0.3s ease;
    font-size: 1.1em;
    border-radius: 0.5em;
    cursor: pointer;
    width: 50%;
    padding: 0.5em 1em 0.5em 1em; /* top, right, bottom, left */
}

#btn-volontario-submit:hover {
    background-color: var(--btnhovercolor);
}